<!DOCTYPE html>
<html lang="en-NZ">
<body>
<h1>
    Legio Admin - Password Reset
</h1><br/><br/>
<p>Dear {{.FirstName}} {{.LastName}},</p><br/>
<p>
    We received a request to reset your password for the Legio Admin web app. If you did not make this request, please ignore this email. Otherwise, please use the link below to reset your password:
</p>
<a href="{{.ResetLink}}">Reset Password</a><br/>
<p>
    For your security, this link will expire in 24 hours. If you encounter any issues or need further assistance, please contact our support team.
</p>
<p>
    Thank you for using Legio Admin!
</p><br/>
<p>
    Best regards,<br/>
    The Legio Support Team
</p>
</body>
</html>